body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 2em 6em 2em 6em;
    height: 30em;
    border: 2px solid rgb(216, 207, 207);
    font-size: 1em;
}
#block-left {
    line-height: 0em;
    float: left;
    display: block;
    width: auto;
    margin: 0.5em;
}
#block-right {
    line-height: 2em;
    float: left;
    display: block;
    width: auto;
}
div {
    font-weight:500;
    color:gray;
}li {
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
    color: black;
}
.title,
.route,
.select-doctype,
.module {
    height: 2em;
    width: 35em;
    font-weight:600;
    border-radius: 0.3em;
    margin-top: 01em;
    margin-bottom: 2em;
    
}
.title,
.select-doctype {
    background-color:rgb(250, 241, 214);
    height: 2em;
    width: 35em;
    font-weight:900;
    border-radius: 0.3em;
}
